<p id="notice"><%= notice %></p>

<p>
  <strong>Creditin:</strong>
  <%= @singlepostransaccionest.creditin %>
</p>

<p>
  <strong>Cashout:</strong>
  <%= @singlepostransaccionest.cashout %>
</p>

<%= link_to 'Edit', edit_singlepostransaccionest_path(@singlepostransaccionest) %> |
<%= link_to 'Back', singlepostransaccionests_path %>
