<p id="notice"><%= notice %></p>

<p>
  <strong>Creditin:</strong>
  <%= @historypostransaccionest.creditin %>
</p>

<p>
  <strong>Cashout:</strong>
  <%= @historypostransaccionest.cashout %>
</p>

<%= link_to 'Edit', edit_historypostransaccionest_path(@historypostransaccionest) %> |
<%= link_to 'Back', historypostransaccionests_path %>
