<%= form_with(model: reportet, local: true) do |form| %>
  <% if reportet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reportet.errors.count, "error") %> prohibited this reportet from being saved:</h2>

      <ul>
      <% reportet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<% #LA VISTA PUEDE CAMIAR SI EL TIPO DE USUARIO DE REPORTES ES ADMIN O CENTRAL MOSTRAMOS FILTROS DE LO CONTRARIO USUARIO DE LA BACNA GENERIC OK TED. %>


 <div class="field">
    <%= form.label :desde %>
    <%= form.date_select :desde, id: :reportet_desde, :order => [:day, :month, :year] %>

  </div>

  <div class="field">
    <%= form.label :hasta %>
    <%= form.date_select :hasta, id: :reportet_hasta, :order => [:day, :month, :year] %>
  </div>






<% if not @reporte_sucursal_actual_only %>

    <div class="field">
      <%= form.label  "Supervisor" %>
      <%=  form.select :supervisor, Maquinat.order(:supervisor).pluck(:supervisor).uniq.collect{ |item|  [ " --> " + item , item ] }, :include_blank => true %> 
    </div>

<% end %>




<% #MOSTRAR SLEECIOND DE SUCURSAL(ES) %>
<% if @reporte_sucursal_actual_only %>

    <div class="field">
      <%= form.label  "Sucursal" %>
      <% #visualizar solo opcion de mostrar esa sucursal de ese usuario, debe ser en array ok ted [] %>
      <%=  form.select :sucursal, ["#{@sucursal_del_usuario }"]  %> 
    </div>
    

<%else%>

    <div class="field">
      <%= form.label  "Sucursal" %>
      <% #  form.select :sucursal, Maquinat.order(:sucursal).collect{ |item|  [ " --> " + item.sucursal , item.sucursal.downcase ] }, :include_blank => true  %> 
      
      <% # Este evita sucursal repetida: Stackoverflow 9658881 %>
      <%=  form.select :sucursal, Maquinat.order(:sucursal).pluck(:sucursal).uniq.collect{ |item|  [ " --> " + item , item ] }, :include_blank => true  %> 

    </div>

<% end %>

  




<% if not @reporte_sucursal_actual_only %>

    <div class="field">
      <%= form.label  "TipoMaq" %>
      <%=  form.select :tipomaquina, Tipomaquinat.order(:tipomaquina).collect{ |item|  [ " --> " + item.tipomaquina.to_s , item.tipomaquina ] }, :include_blank => true  %> 
    </div>


   

<% end %>


 <div class="field">                       
      <%= form.password_field :password, :value => "nada" %>
</div>

</br>


















  <div class="actions">
    <%= form.submit "Consultar" %>
  </div>
<% end %>
