<p id="notice"><%= notice %></p>

<p>
  <strong>Totalin:</strong>
  <%= @contadorest.totalin %>
</p>

<p>
  <strong>Totalout:</strong>
  <%= @contadorest.totalout %>
</p>

<p>
  <strong>Totalnet:</strong>
  <%= @contadorest.totalnet %>
</p>

<%= link_to 'Edit', edit_contadorest_path(@contadorest) %> |
<%= link_to 'Back', contadorests_path %>
