<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @ganadoresmegajackpot.fecha %>
</p>

<p>
  <strong>Consorcio:</strong>
  <%= @ganadoresmegajackpot.consorcio %>
</p>

<p>
  <strong>Sucursal:</strong>
  <%= @ganadoresmegajackpot.sucursal %>
</p>

<p>
  <strong>Localidad:</strong>
  <%= @ganadoresmegajackpot.localidad %>
</p>

<p>
  <strong>Serialmq:</strong>
  <%= @ganadoresmegajackpot.serialmq %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @ganadoresmegajackpot.cantidad %>
</p>

<p>
  <strong>Montoxcontribuyente:</strong>
  <%= @ganadoresmegajackpot.montoxcontribuyente %>
</p>

<%= link_to 'Edit', edit_ganadoresmegajackpot_path(@ganadoresmegajackpot) %> |
<%= link_to 'Back', ganadoresmegajackpots_path %>
