<p id="notice"><%= notice %></p>

<p>
  <strong>Consorcio:</strong>
  <%= @contribuyentet.consorcio %>
</p>

<p>
  <strong>Sucursal:</strong>
  <%= @contribuyentet.sucursal %>
</p>

<p>
  <strong>Siglas:</strong>
  <%= @contribuyentet.siglas %>
</p>

<p>
  <strong>Localidad:</strong>
  <%= @contribuyentet.localidad %>
</p>

<p>
  <strong>Serialmq:</strong>
  <%= @contribuyentet.serialmq %>
</p>

<p>
  <strong>Countermeterold:</strong>
  <%= @contribuyentet.countermeterold %>
</p>

<p>
  <strong>Countermeternew:</strong>
  <%= @contribuyentet.countermeternew %>
</p>

<p>
  <strong>Aportemega:</strong>
  <%= @contribuyentet.aportemega %>
</p>

<%= link_to 'Edit', edit_contribuyentet_path(@contribuyentet) %> |
<%= link_to 'Back', contribuyentets_path %>
