<p id="notice"><%= notice %></p>

<p>
  <strong>Jugador:</strong>
  <%= @rondaruletabt.jugador %>
</p>

<p>
  <strong>Win:</strong>
  <%= @rondaruletabt.win %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @rondaruletabt.credit %>
</p>

<p>
  <strong>Jugadas:</strong>
  <%= @rondaruletabt.jugadas %>
</p>

<p>
  <strong>Totalbet:</strong>
  <%= @rondaruletabt.totalbet %>
</p>

<p>
  <strong>Winnernumberspin:</strong>
  <%= @rondaruletabt.winnernumberspin %>
</p>

<p>
  <strong>Status:</strong>
  <%= @rondaruletabt.status %>
</p>

<%= link_to 'Edit', edit_rondaruletabt_path(@rondaruletabt) %> |
<%= link_to 'Back', rondaruletabts_path %>
