<%= form_with(model: jackpot, local: true) do |form| %>
  <% if jackpot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(jackpot.errors.count, "error") %> prohibited this jackpot from being saved:</h2>

      <ul>
      <% jackpot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color, id: :jackpot_color %>
  </div>

  <div class="field">
    <%= form.label :totalinold %>
    <%= form.text_field :totalinold, id: :jackpot_totalinold %>
  </div>

  <div class="field">
    <%= form.label :totalinnow %>
    <%= form.text_field :totalinnow, id: :jackpot_totalinnow %>
  </div>

  <div class="field">
    <%= form.label :cantidad %>
    <%= form.text_field :cantidad, id: :jackpot_cantidad %>
  </div>

  <div class="field">
    <%= form.label :trigger %>
    <%= form.text_field :trigger, id: :jackpot_trigger %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
