<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @usuariosbrt.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @usuariosbrt.apellido %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @usuariosbrt.usuario %>
</p>

<p>
  <strong>Contrasena:</strong>
  <%= @usuariosbrt.contrasena %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @usuariosbrt.telefono %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuariosbrt.email %>
</p>

<p>
  <strong>Cedula:</strong>
  <%= @usuariosbrt.cedula %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @usuariosbrt.direccion %>
</p>


<p>
  <strong>tipousuario:</strong>
  <%= @usuariosbrt.tipousuario %>
</p>


<p>
  <strong>md5pc:</strong>
  <%= @usuariosbrt.md5pc %>
</p>


<p>
  <strong>consorcioasociado:</strong>
  <%= @usuariosbrt.consorcioasociado %>
</p>





<%= link_to 'Edit', edit_usuariosbrt_path(@usuariosbrt) %> |
<%= link_to 'Back', usuariosbrts_path %>
